@import '../../assets/setting';

$card-bg-color: #ebecf0;
$hight-column-header: 36px;
$hight-column-footer: 36px;
$column-height: calc(#{$boardContent-height} - #{$gap * 2});

.column {
    flex: 0 0 auto;
    width: 300px;
    height: $column-height;
    // &:not(:first-child) {
    // }
    margin-left: $gap;
    > * {
        background-color: $card-bg-color;
        color: #333;
        padding: 0 8px;
    }

    header.column-drag-handle {
        // padding-left: 15px;
        height: $hight-column-header;
        line-height: 36px;
        font-weight: 500;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        display: flex;
        .drag-title {
            flex: 90%;
            input {
                margin: 2px 0;
            }
        }
        .drag-dropdowns {
            flex: 10%;
            margin-left: 2px;
            button.dropdown-btn {
                background-color: transparent;
                border: none;
                letter-spacing: 0.5px;
                &::after {
                    content: '...';
                    border: none;
                    font-size: 18px;
                    color: #6b778c;
                }
                &:hover {
                    background-color: rgba(9, 30, 66, 0.08);
                    color: #172b4d;
                }
            }
            .dropdown-menu {
                width: 304px;
                font-size: 14px;
                padding: 0;
                color: #172b4d;
                .dropdown-header {
                    position: relative;
                    padding: 0;
                    color: #5e6c84;
                    text-align: center;
                    height: 40px;
                    line-height: 40px;
                    margin: 0 12px;
                    cursor: default;
                    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
                    .dropdown-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: #6b778c;
                        padding: 0 10px;
                        cursor: pointer;
                    }
                }
                .dropdown-item {
                    color: #172b4d;
                }
            }
        }
    }
    .enter-new-card {
        .form-control-textarea {
            resize: none;
        }
    }
    footer {
        // padding-left: 15px;
        // height: $hight-column-footer;
        line-height: 36px;
        font-weight: 500;
        font-size: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #5e6c84;
        .footer-actions {
            margin-left: $gap;
            cursor: pointer;

            &:hover {
                color: #172b4d;
            }
            i {
                font-size: 14px;
                font-weight: 400;
                margin-right: 5px;
            }
        }
    }
    .card-list {
        margin: 0;
        max-height: calc(100% - #{$hight-column-header} - #{$hight-column-footer});
        cursor: pointer;
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
            width: 11px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(9, 30, 66, 0.08);
            border-right: 3px solid rgba(9, 30, 66, 0.08);
        }
        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;
        }
        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: bold;
        }
        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }
    }
}
