$board-bg-color: rgb(75, 191, 107);

@import "_setting";

body {
    font-size: 14px;
    line-height: 1.3em;
    font-family: sans-serif;
}
.trello-App {
    height: 100vh;
    // display: grid;
    // grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;
}
