$board-bg-color: rgb(75, 191, 107);


@import "./assets/setting";

body {
    font-size: 14px;
    line-height: 1.3em;
    font-family: sans-serif;
}
.trello-App {
    height: 100vh;
    // display: grid;
    // grid-template-rows: 40px 50px 1fr;
    background-image: url('./assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
